# 2019 Data Science Term Project

### Project title: Explore and Analyze Black Friday Data & build a recommendation model

###### Team members: 
 * Hyesu Lim: CS 2017320160 
 * Jiwon Lee: CS 2017320214
 * Chaeryeong Kim: CS 2017320233

###### Role: 
 * Hyesu Lim: modeling
 * Jiwon Lee: correlation analysis
 * Chaeryeong Kim: exploratory data analysis

###### Data Science Pipeline:
 => following this piplelines, we aim to try as many trials as possible to get some knowledge of the data
  1. Ask an interesting question
  2. Get the data
  3. Explore the data
  4. Correlation analysis to data
  5. Data Preprocessing & Model the data
  6. Visualize the summary result and conclusion

### 1. Ask an interesting question
###### => Using the shopping history, can we recommend the items to specific users?
* Motivation: 
Today, we are living in the world of the recommendation systems. Whenever we go shopping online, the recommendation system of the site automatically recommend us several items using out recorded preferences, history of items we bought, and our information. Even if when it is not shopping mall such as instagram or facebook, they bring us the advertisement of the item that we once have searched online. Based on this motivation, with the data set of shopping history of a shop we got an interesting question that can we build a recommendation system based on meomory we meant history? Also, what can we get from exploring and analyzing the data? Can we adapt the result of the analysis to build models?

### 2. Get the data and define the problem
###### - data: Black Friday Data

 * source: Kaggle 
 * url: https://www.kaggle.com/mehdidag/black-friday
##### - data description: 
The dataset here is a sample of the transactions made in a retail store on a black friday. With 550 000 observations, it contains different kinds of variables either numerical or categorical. It contains missing values. The data source is given in a csv format having 538K rows and 12 columns. The following describes each column with it’s name, containing information, and given data type.

##### - data columns:
 * User_ID: User, numeric(6040 unique values) 
 * Product_ID: Id Pruduct, numeric(3623 unique values) 
 * Gender: gender of a customer, categorical(boolean) 
 * Age: age of a customer, categorical(range) 
 * Occupation: Id occupation of each customer, numeric 
 * City_Category: current staying in city, categorical 
 * Stay_In_Current_City_Years: years stayed in the city for each customer, categorical(range) 
 * Marital_Status: marital status, categorical 
 * Product_Category_1: product category 1, numeric 
 * Product_Category_2: product category 2, numeric 
 * Product_Category_3: product category 3, numeric 
 * Purchase: purchase amount in dollars, numeric

##### - simple view of data

In [1]:
import pandas as pd
#load the dataset
data = pd.read_csv("./desktop/BlackFriday.csv")

In [2]:
data.shape

(537577, 12)

In [3]:
data.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [4]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

##### - definition of the problem
* Predict top 5 most likely to be purchased products for customers and expected sales amount. 
* Problem statement: 
using the Black Friday Dataset with 538K instances and 12 attributes, we’d like to expect top 5 products to a specific customer for the coming Black Friday. Here, “top 5 products” are the 5 products that are most likely to be purchased by the customer. We are planning to build collaborative filtering models for expecting product items. Furthermore, with the prediction result we aim to recommend users their top 5 items to place into their basket. 
* Expected Result : 
functions that searches for a expected list based on a specified user. 
    - input: user - customer ID 
    - output: ranked list of items (product IDs), that the user would be most likely to 
buy

### 3. Explore the data

In order to understand our data, we are going to explore & analyze data by visualizing. The goal of this step is like below.
##### - goal of the step:
 * to figure out how data is distributed
 * understand the meaning of each attribute(column)
 * throwing & answering questions of the data
 * figuring out missing values
 * simple planning of imputing missing values
 * expect the exploration result to contribute to later steps

################## -> 여기 채령 합성!!!!!!!!!!!!

### 4. Correlation analysis to data
Using clean data, we are going to analyze correlation between attributes. 
##### - goal of the step:
 * to find out important relationships between features.

##########################-> 여기 지원 합성!!!!!!!!!!!

### 5. Data Preprocessing & Model the data

##### - goal of the step:
 * clean the data by handling missing values
 * build recommendation system using item based 

##### - rough outline of building model:
 * a. import modules & packages
 * b. load data
 * c. data preparation
 * d. data split
 * e. baseline model
 * f. collaborative filtering model - item based
 * g. define similarity function
 * h. model evalution
 * i. model selection
 * j. final output

######################-> 여기 혜수 합성!!!!!!!!!!!!!

### 6. Visualize the summary result and conclusion

###### - simple summary of what we've done:
We tried to understand how data is organized by analyzing dataset, then 
clean the data. By computing correlation between features, we are going to analyze how features are related to each other. After that, we built recommendation system using item based collaborative filtering so that we can predict top 5 products that user is likely to buy.

###### - discussion:
Through the outcomes of our analysis, we can utilize the results to order marketing 
displays. Plus, it’s also possible to recommend product items to users and predicting sales amount seems to be a feasible scenario with the price information afterwards.